# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/DMV/v17
/.vs/DMV
/.vs/DMV/FileContentIndex/42b1be2e-6a85-4d71-90ef-df7224d6259f.vsidx
/.vs/DMV/FileContentIndex/c1fcc02f-1699-4807-be2b-b9b5be821843.vsidx
/.vs/DMV/FileContentIndex/fba0ecf1-6a3f-4f42-8f3e-80e1113f201c.vsidx
